.container {
    display: grid;
    grid-template-columns: repeat(3, 200px);

}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
}

.chessboard :nth-child(2n)[class="caseOdd"] {
    background-color: white;
}

.chessboard :nth-child(2n)[class="caseEven"] {
    background-color: black;
}


.chessboard :nth-child(2n+1)[class="caseOdd"] {
    background-color: black;
}

.chessboard :nth-child(2n+1)[class="caseEven"] {
    background-color: white;
}

.grid {
    display: grid;
    grid-template-areas: "h h h h" "b1 b2 b3 s" "c c c s" "c c c s" "c c c s" "f f f f";
    height: 600px;
    width: 80%;
    gap: 10px;
}

.header {
    grid-area: h;
    background-color: aqua;
}

.box1 {
    grid-area: b1;
    background-color: salmon;
}

.box2 {
    grid-area: b2;
    background-color: cadetblue;
}

.box3 {
    grid-area: b3;
    background-color: blueviolet;
}

.sidebar {
    grid-area: s;
    background-color: brown;
}

.content {
    grid-area: c;
    background-color: burlywood;
}

.footer {
    grid-area: f;
    background-color: aqua;
}

.login {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 50px);
    width: 600px;
    background-color: blue;
    text-align: center;
    vertical-align: middle;
    gap: 15px;
    padding: 30px;
}

.col-1-1 {
    grid-column: 1 / span 1;
}

.col-1-2 {
    grid-column: 2 / span 1;
}

.col-2 {
    grid-column: 1 / span 2;
}